NODE_ENV=production
PORT=3000
BIND_HOST=127.0.0.1
APP_PUBLIC_PATH=/app
APP_DATABASE=csrs_nacional
DOWNLOADER_BASE_URL=http://127.0.0.1:12058
NATIONAL_DOWNLOADER_CONFIG=C:/Program Files (x86)/CMS Server/CeibaWebDownloader/rebuild/config.cjs
APK_VERSIONS_DIR=C:/customserviciosrs/nacional-versiones
GPS_FRESHNESS_SECONDS=600
CEIBA_LAST_GPS_PATH=C:/Program Files (x86)/CMS Server/TransmitServer/AlarmServer/LastGps.txt
